<ngb-accordion [closeOthers]="true" activeIds="static-1" *ngIf="presta$ | async as presta">
    <ngb-panel id="static-1" title="infos">
      <ng-template ngbPanelContent>
        <p> {{ presta.typePresta }}</p>
        <p> {{ presta.client }}</p>
      </ng-template>
    </ngb-panel>

    <ngb-panel id="static-2">
      <ng-template ngbPanelTitle>
        <span>tarifs</span>
      </ng-template>
      <ng-template ngbPanelContent>
          <p> {{ presta.nbJour }}</p>
          <p> {{ presta.tjmHt }}</p>
          <p> {{ presta | total }}</p>
          <p> {{ presta.tauxTva }}</p>
          <p> {{ presta | total:presta.tauxTva }}</p>
        </ng-template>
    </ngb-panel>

    <ngb-panel id="static-2">
        <ng-template ngbPanelTitle>
          <span>State</span>
        </ng-template>
        <ng-template ngbPanelContent>
            <p> {{ presta.state }}</p>
        </ng-template>
      </ngb-panel>
  </ngb-accordion>
